---
const label = 'Astro';
---
<html>
  <head>
    <style>.hero { color: #111; }</style>
  </head>
  <body>
    <script>console.log(label);</script>
    <div class="hero">{label}</div>
  </body>
</html>
